:root {
  --nav-circle-width: 35px;
  --nav-circle-height: 35px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--xs-size);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);

  .left-content {
    display: flex;
    flex-direction: row;
    gap: var(--s-size);
  }

  .main-content {
    width: 100%;

    .search-input {
      width: 50%;
      padding: var(--s-size);
      border-radius: var(--xs-size);
      border: 1px solid var(--outline-color);
    }
  }

  .right-content {
    .avatar {
      border: 1px solid var(--outline-color);
      border-radius: 50%;
      height: var(--nav-circle-width);
      width: var(--nav-circle-height);
      cursor: pointer;
      position: relative;
    }
  }

  .avatar-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    top: 50px;
    left: -100px;
  }

  .avatar-content a {
    color: black;
    padding: var(--s-size) var(--m-size);
    text-decoration: none;
    display: block;
  }

  .avatar-content {
    display: block;
  }

  .logo-img {
    height: var(--nav-circle-width);
    width: var(--nav-circle-height);
  }
}
