:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Layout Sizing */
  --xxs-size: 4px;
  --xs-size: 8px;
  --s-size: 12px;
  --m-size: 16px;
  --l-size: 24px;
  --xl-size: 32px;
  --xxl-size: 64px;
  --xxxl-size: 128px;
  --h-size: 256px;

  /* Colors */
  --primary: #ffe6e6;
  --secondary: #e1afd1;
  --accent-light: #ad88c6;
  --accent-dark: #7469b6;
  --outline-color: #c2c2c2;
  --font-color: #ffffff;
  --font-dark-color: #000000;
}

body,
input,
button,
select,
option,
textarea {
  margin: 0;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
a {
  cursor: pointer;
}
